<section id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="title">
        <h3> <%= recipe.name %> </h3>
        <a href="">REMOVE</a>
      </div>
      <div class="info">
        <p> <%= recipe.description %> </p>
      </div>
    </div>
  <% end %>
</section>
