<section id="recipes">
  <div class="recipe-card">
    <div class="title">
      <h3>Recipe 1</h3>
      <a href="">REMOVE</a>
    </div>
    <div class="info">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae in praesentium maiores.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In a dolor necessitatibus iusto possimus ipsa modi laborum placeat sunt sint!</p>
    </div>
  </div>
</section>
