<section id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="title">
        <h3> <%= recipe.name %> </h3>
        <% if can? :destroy, recipe %>
          <%= link_to "REMOVE", recipe_path(recipe), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        <% end %>
      </div>
      <div class="info">
        <p> <%= recipe.description %> </p>
      </div>
    </div>
  <% end %>
</section>
