<section id="recipes">
  <div class="recipe">
    <div class="title">
      <h3>Recipe 1</h3>
      <a href="">Remove</a>
    </div>
    <div class="info">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae in praesentium maiores.
    </div>
  </div>
</section>
