<section id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="title">
        <h3> <%= link_to recipe.name, recipe %> </h3>
        <span> David melon </span>
      </div>
      <div class="info">
        <p> Total food items: 8 </p>
        <p> Total price: $120 </p>
      </div>
    </div>
  <% end %>
</section>